<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron">
    My Most Excellent Tuneage
</div>
{% block content %}
<table>
    <tr>
        <th>Band</th>
        <th>Song</th>
    </tr>
    {% for song in songs %}
    <tr>
        <td>{{ song.song_band }}</td>
        <td>
            <a href="{% url 'songs_details' song.song_id %}">{{ song.song_title }}</a>
        </td>
        <td>band song</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>